* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fundo com imagem + overlay */
body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #222;
  line-height: 1.6;

  background-image:
    linear-gradient(
      rgba(244, 246, 248, 0.92),
      rgba(244, 246, 248, 0.92)
    ),
    url("bg-news.jpg");

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Header */
.site-header {
  text-align: center;
  padding: 40px 20px 30px;
  background: #ffffff;
  border-bottom: 1px solid #ddd;
}

.site-header h1 {
  font-size: 3rem;
  letter-spacing: 3px;
 
  background-image:  url(https://scontent.xx.fbcdn.net/v/t1.15752-9/624925101_1549752746308167_5405739379055155110_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=9f807c&_nc_ohc=J9td37ETb2sQ7kNvwEAFaRT&_nc_oc=AdlonN9fH-sRbCRfUD9o8d98w4Tr-6b61Epwj_h6qdXNLkEluDXyPFkILfP62tM3ezy9G1Yw1DBQfjqS94F3cTmp&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.xx&oh=03_Q7cD4gFfmv6N69W4BAtBlKnLaHkhaWNu1reSlHhKe4Gcs2gwBw&oe=69A9B839);
}

.slogan {
  color: #666;
  font-size: 1rem;
  margin-top: 6px;
}

/* Conteúdo */
.container {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

.news-card {
  background: #ffffff;
  width: 100%;
  max-width: 820px;
  padding: 35px;
  border-radius: 6px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.12);
}

.news-header h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.autor {
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 25px;
}

.news-content p {
  margin-bottom: 18px;
}

/* Citação */
blockquote {
  margin: 25px 0;
  padding: 15px 20px;
  border-left: 4px solid #222;
  background: #f7f7f7;
  font-style: italic;
}

blockquote span {
  display: block;
  margin-top: 8px;
  font-size: 0.85rem;
  color: #555;
}

/* Rodapé do artigo */
.news-footer {
  margin-top: 30px;
  font-style: italic;
  color: #555;
}

/* Rodapé do site */
.site-footer {
  text-align: center;
  padding: 25px 10px;
  font-size: 0.85rem;
  color: #666;
}
